# Virtual environments
venv/
.venv/

# Quarto build output
_site/
.quarto/

# Python cache / artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS cruft
.DS_Store
Thumbs.db

